@mixin clearfix {
  // append pseudo element after element to clear floats - i.e. (clear float left && float right)
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}