/* Universal Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* we use 10px so we know 1 rem = 10 pixels */
/* we use rem so we can change font when device window size/font changes (mobile device) */
/* setting pixels here is bad practice because visually impaired people could not make their font larger!
presuming 16px is DEFAULT - we calculate 62.5% of browser default */

/* DESKTOP-FIRST APPROACH */
html {
  /* (presuming 16px is default browser setting) */
  font-size: 62.5%; // 1 rem = 10px 10px/16px = 62.5%

  // width < 1200
  @include respond(tab-landscape) {
    font-size: 56.25%; // 1 rem = 9px 9px/16px = 56.25%
  }

  // width < 900 (applies to phone [600] && tab-portrait [900])
  @include respond(tab-portrait) {
    font-size: 50%; // 1 rem = 8px 8px/16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 9px 12/16px = 56.25%
  }

}

/* Use inheritance
  all child elements of body will inherit from body
  this is more efficient than doing it in the universal selector!
*/
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-portrait) {
    padding: 0;
  }

}

/* customize "selected text color" */
::selection {
  background-color: $color-primary;
  color: $color-white;
}